body{
    background:url("28f2870bd8ae1155cb092c61f71f98bb.jpg");
    background-size: 100%;
    background-position-y: 40%;
    margin-top: 20%;
    text-align: center;
}
#head1{
}
button{
    font-size: large;
    transition: transform 0.3s ease;
    margin: 0 50px;
}
button:hover{
    transform: translateY(-5px);
}
#d1{
    margin-top: 10%;
}
#d2{
    margin-top: 10%;
}
#d3{
    margin-top: 10%;
}
text{
    opacity: 0.6;
}
#d4{
    opacity: 0.6;
    margin-top: 15%;
}
#d5{
    margin-top: 5%;
    opacity: 0.7;
}
#songlist_get{
    margin-top: 5%;
}
button.bg_blue{
    background-color: rgb(205, 255, 238);
}
button.bg_red{
    background-color: rgb(233, 119, 119);
}
.playlist-container{
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 5% auto 0;
    box-sizing: border-box;
}
.song-list{
    height: 150px;
    width: 100%;
    overflow-y: scroll;
    list-style-position: inside;
    margin: 0;
    padding: 0 10px;
}
.song-list li{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.song-list li:hover{
    transform: translateY(-5px);
}
.song-list li:active {
    opacity: 0.9; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    color: #0088cc;
    transform: none;
}
.song-list::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
.song-list::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
    cursor: pointer;
}
.song-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}